@use "../../scss/" as *;

.now-playing-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 70px;
  z-index: 100;
  .player-controls {
    position: fixed;
    z-index: 2;
    width: 100%;
    bottom: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--layout-bg);
    &__container {
      height: 90px;
      min-width: 768px;
      padding: 0 20px;
      background-color: var(--player-bg);
      border-top: 1px solid var(--border-player);
      background-image: var(--miniplayer-bg-img);
      .player-controls-left {
        position: relative;
        width: 30%;
        z-index: 1;
        .w100 {
          width: 100%;
        }
        .media-item {
          padding: 0;
          transition: transform 0.5s;
          cursor: inherit;
          width: 100%;
          align-items: center;
          display: flex;
          text-align: left;
          border-radius: 5px;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          &__left {
            margin-right: 10px;
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 0;
            .thumb-wrapper {
              position: relative;
              border-radius: 4px;
              overflow: hidden;
              .thumb {
                position: relative;
                overflow: hidden;
                -webkit-animation-play-state: paused;
                animation-play-state: paused;
                -webkit-animation-name: spin;
                animation-name: spin;
                -webkit-animation-duration: 12s;
                animation-duration: 12s;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                .img-control {
                  width: 64px;
                  height: 64px;
                  border-radius: 4px;
                  overflow: hidden;
                }
              }
            }
          }
          &__center {
            min-width: 0;
            max-width: -webkit-max-content;
            max-width: -moz-max-content;
            max-width: max-content;
            flex-basis: auto;
            flex-grow: 1;
            flex-shrink: 1;
            text-align: left;
            align-self: center;
            .is-mark {
              -webkit-mask-image: linear-gradient(
                270deg,
                transparent 0.5%,
                #000 10%
              );
            }
            .song-info-wrap {
              display: flex;
              white-space: nowrap;
              .song-title-item {
                line-height: 0;
                padding-right: 10px;
                color: var(--player-text);
                .title-wrapper {
                  color: var(--player-text);
                  display: flex;
                  align-items: center;
                  .item-title {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.36;
                    text-overflow: clip;
                    overflow: visible;
                    display: flex;
                    align-items: center;
                    text-transform: none;
                    white-space: nowrap;
                    max-width: 100%;
                    vertical-align: top;
                    color: var(--player-text);
                  }
                }
              }
            }
            .subtitle {
              margin-top: 1px;
              color: var(--text-secondary);
              margin-bottom: 0;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: 100%;
              line-height: normal;
              font-size: 12px;
              font-weight: 400;
            }
          }
          &__right {
            margin-left: 10px;
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 0;
            .btn {
              padding: 3px;
              margin: 0 2px;
              &:hover {
                background-color: hsla(0, 0%, 100%, 0.1);
                filter: brightness(0.9);
              }
              .icon {
                font-size: 16px;
                padding: 5px;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
    &__player-bar {
      flex-grow: 1;
      max-width: 40vw;
      .actions {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        .btn {
          margin: 0 7px;
          line-height: 0;
          padding: 2px;
          border: none;
          color: var(--player-text);
          &:hover {
            background-color: hsla(0, 0%, 100%, 0.1);
          }
          .icon {
            font-size: 16px;
            padding: 5px;
            border-radius: 50%;
          }
          .ic-play-circle-outline,.ic-pause-circle-outline {
            font-size: 40px;
            &:hover {
              background-color: transparent;
              color: var(--link-text-hover);
            }
          }
          &.btn-play {
            &:hover {
              background-color: transparent;

              filter: brightness(0.9);
            }
          }
        }
      }
      .time-left {
        text-align: right;
        margin-right: 10px;
        opacity: 0.5;
        min-width: 45px;
        font-size: 12px;
        color: var(--player-text);
        font-weight: 500;
      }
      .time-right {
        min-width: 45px;
        font-size: 12px;
        color: var(--player-text);
        font-weight: 500;
        margin-left: 10px;
      }
      .duration-bar {
        @include flex(center, center);
        height: 15px;
        width: 100%;
        cursor: pointer;
      }
    }
    &__right {
      width: 30%;
      .player-volume {
        display: flex;
        align-items: center;
        .duration-vol {
          @include flex(center, center);
          width: 70px;
          height: 15px;
          cursor: pointer;
        }
      }
      .divide {
        height: 33px;
        width: 1px;
        background-color: var(--border-player);
        margin: 0 20px;
      }
      .btn {
        padding: 3px;
        margin: 0 2px;
        .icon {
          font-size: 16px;
          padding: 5px;
          border-radius: 50%;
        }
      }
      .next:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
      }
      .list-music:hover {
        background-color: transparent;
        .button-zmd {
          background-color: hsla(0, 0%, 100%, 0.2);
        }
        .button-zmd.is-active {
          background-color: var(--purple-primary);
          filter: brightness(0.9);
        }
      }
      .button-zmd {
        position: relative;
        background-color: hsla(0, 0%, 100%, 0.1);
        border-radius: 4px;
        height: 30px;
        line-height: 30px;
        border: 1px solid transparent;
        font-weight: 500;
        color: var(--player-text);
        font-size: 12px;
        &.is-active {
          background-color: var(--purple-primary);
          color: #fff;
        }
      }
    }
  }
  .right-bar {
    position: absolute;
    right: 0;
    width: 330px;

    z-index: 2;
    border: none;
    box-shadow: var(--box-shadow-queue);
    bottom: 90px;
    background-color: var(--queue-player-popup-bg);
    &.exit {
      transform: translateX(100%);
      transition: transform 0.6s ease-out;
    }
    &.enter {
      transform: translateX(0);
      transition: transform 0.6s ease-out;
    }
    &__container {
      height: calc(100vh - 90px);
      max-height: calc(100vh - 90px);
      background-color: var(--white-primary);
      bottom: 0;
      right: 0;
      position: relative;
      border-radius: inherit;
      display: flex;
      flex-direction: column;
    }
    &__header {
      padding: 14px 0;
      position: relative;
      .tab-bars {
        padding: 0 8px;
        .level-left {
          flex: 1 1;
          border-radius: 999px;
          background-color: var(--alpha-bg);
          padding: 3px;
          .level-item {
            border-radius: 999px;
            padding: 5px 0;
            cursor: pointer;
            color: var(--navigation-text);
            h6 {
              font-size: 12px;
              font-weight: 400;
            }
          }
          .level-item.is-active {
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
            background-color: var(--tab-active-bg);
            color: var(--text-item-hover);
            h6 {
              font-weight: 500;
            }
          }
        }
        .level-right {
          .level-item {
            margin-left: 8px;
            border-radius: 999px;
            padding: 5px 0;
            cursor: pointer;
            color: var(--navigation-text);
            .btn {
              color: var(--text-primary);
              background-color: var(--alpha-bg);
              &:hover {
                filter: brightness(0.9);
              }
              .icon {
                font-size: 16px;
                padding: 8px;
              }
            }
          }
        }
      }
    }
    &__scroll {
      flex: 1 1;
      .content-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        .content-container {
          position: absolute;
          inset: 0px;
          overflow: hidden scroll;
          margin-right: -6px;
          margin-bottom: 0px;
          .content-bar {
            top: 0px;
            position: absolute;
            height: 100%;
            width: 100%;
          }
        }
        .track-horizontal {
          position: absolute;
          height: 6px;
          transition: opacity 200ms ease 0s;
          opacity: 0;
        }
        .track-vertical {
          position: absolute;
          width: 4px;
          transition: opacity 200ms ease 0s;
          opacity: 0;
          right: 2px;
          top: 2px;
          bottom: 2px;
          z-index: 100;
        }
      }
    }
    &__list {
      margin-top: 0px;
      position: relative;
      padding: 0 8px 15px;
      .list-item{
        border-radius: 4px;
        &:hover{
          background-color: var(--alpha-bg);
          .media-right > .hover-items{
            display: block;
          } 
        }
        .media-right{
          .hover-items .level-item{
              margin-right: 0;
          }
          .btn .icon{
            font-size: 16px;
            padding: 5px;
            border-radius: 50%;
          }
        } 
        .media{
          justify-content: space-between;
          &:hover{
            background-color: var(--alpha-bg);
          }
          .media-left{
            @include flex(center,center);
          }
          .media-right > .action-items{
            display: none;
          }
        }
      }
    }
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
