@use "../../scss/" as *;

.action-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .action {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    z-index: 98;
    transform: translateX(-50%) translateY(-50%);
    display: -moz-flex;
    display: flex;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    visibility: hidden;
    width: 80%;
    .btn:hover {
      -webkit-filter: brightness(0.9);
      filter: brightness(0.9);
      background-color: transparent;
    }
    .btn.hover:hover{
      background-color: var(--hover-tooltip-opacity);
    }

    .btn.border-circle {
      border: 1px solid;
      .icon.action-play {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .icon.ic-svg-play-circle {
        background-image: url("../../assets/font/play.81e7696e.svg");
      }
    }

  }
}
