@use "./scss/" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");



:root,
[data-theme="light"],
[data-theme="pink-light"],
[data-theme="green-light"] {
  --background-tooltip: #e8e8e8;
  --white: #fff;
  --black: #32323d;
  --yellow: #f8e71c;
  --blue: #4a90e2;
  --green: #50e3c2;
  --red: #e35050;
  --gray: #dbdbdb;
  --dark-alpha-10: rgba(0, 0, 0, 0.1);
  --dark-alpha-50: rgba(0, 0, 0, 0.5);
  --dark-alpha-70: rgba(0, 0, 0, 0.7);
  --dark-alpha-80: rgba(0, 0, 0, 0.8);
  --hover-tooltip-opacity: hsla(0, 0%, 100%, 0.3);
  --primary-bg: #fff;
  --layout-bg: #fff;
  --sidebar-bg: rgba(0, 0, 0, 0.05);
  --sidebar-popup-bg: #f2f2f2;
  --alpha-bg: rgba(0, 0, 0, 0.05);
  --contrast-bg: rgba(20, 20, 20, 0.4);
  --contrast-bg-1: rgba(20, 20, 20, 0.4);
  --contrast-color: rgba(254, 255, 255, 0.8);
  --banner-home-dot: #d8d8d8;
  --loading-bg: rgba(0, 0, 0, 0.05);
  --loading-bg-animation: #f5f5f5;
  --scroll-thumb-bg: rgba(0, 0, 0, 0.1);
  --no-content-bg: #f9f9f9;
  --box-item-bg: #fff;
  --artist-layout-bg: hsla(0, 0%, 100%, 0.8);
  --alpha-layout-bg: rgba(12, 3, 3, 0.8);
  --tab-active-bg: #fff;
  --queue-player-popup-bg: #fff;
  --progressbar-active-bg: var(--purple-primary);
  --progressbar-player-bg: rgba(0, 0, 0, 0.1);
  --kara-lyrics-bg: #9882bd;
  --kara-btn-bg: hsla(0, 0%, 100%, 0.1);
  --theme-setting-active: rgba(0, 0, 0, 0.15);
  --player-bg: #fff;
  --select-bg: rgba(0, 0, 0, 0.15);
  --text-primary: #32323d;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --purple-primary: #6b3483;
  --text-item-hover: #6b3483;
  --link-text-hover: #9c32ca;
  --player-text: #32323d;
  --search-text: #282828;
  --text-placeholder: #757575;
  --setting-icon-text: #495057;
  --navigation-text: #32323d;
  --sidebar-title: rgba(0, 0, 0, 0.7);
  --song-item-action: rgba(50, 50, 61, 0.5);
  --border-primary: rgba(0, 0, 0, 0.1);
  --border-secondary: rgba(0, 0, 0, 0.05);
  --border-box: rgba(0, 0, 0, 0.2);
  --spotlight-item: #f1f1f1;
  --queue-border: rgba(0, 0, 0, 0.1);
  --border-player: rgba(0, 0, 0, 0.05);
  --thumbnail-player: hsla(0, 0%, 100%, 0.8);
  --main-box-shadow: hsla(0, 0%, 81.2%, 0.4);
  --new-release-box-shadow: hsla(0, 0%, 81.2%, 0.4);
  --sticky-header-box-shadow: rgba(0, 0, 0, 0.08);
  --notify-box-shadow: rgba(0, 0, 0, 0.2);
  --portal-menu-box-shadow: rgba(0, 0, 0, 0.3);
  --main-text-stroke: #6b3483;
  --box-shadow-queue: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 6px rgba(0, 0, 0, 0.3),
    inset 0 1px 1px hsla(0, 0%, 100%, 0.3);
  --chart-bg-img-alpha: hsla(0, 0%, 100%, 0.9);
  --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.5);
  --chart-logo-color: #000;
  --chart-icon-play-color: #fff;
  --linear-gradient-bg: linear-gradient(180deg, #740091, #2d1a4c);
  --padding-section: 59px;
}
[data-theme="blue"],
[data-theme="dark"],
[data-theme="brown"] {
  --primary-bg: #282828;
  --layout-bg: #1e1e1e;
  --sidebar-bg: hsla(0, 0%, 100%, 0.05);
  --sidebar-popup-bg: #292929;
  --alpha-bg: hsla(0, 0%, 100%, 0.1);
  --contrast-bg: rgba(254, 255, 255, 0.4);
  --contrast-bg-1: #feffff;
  --contrast-color: rgba(20, 20, 20, 0.8);
  --banner-home-dot: #d8d8d8;
  --loading-bg: hsla(0, 0%, 100%, 0.1);
  --loading-bg-animation: hsla(0, 0%, 100%, 0.1);
  --scroll-thumb-bg: hsla(0, 0%, 100%, 0.3);
  --no-content-bg: hsla(0, 0%, 100%, 0.1);
  --box-item-bg: hsla(0, 0%, 100%, 0.1);
  --box-hot-item-bg: rgba(254, 255, 255, 0.05);
  --box-hot-item-bg-hover: rgba(254, 255, 255, 0.1);
  --alpha-layout-bg: rgba(12, 3, 3, 0.8);
  --artist-layout-bg: var(--alpha-layout-bg);
  --tab-active-bg: hsla(0, 0%, 100%, 0.3);
  --queue-player-popup-bg: #2d2f32;
  --kara-lyrics-bg: #1e1e1e;
  --kara-btn-bg: hsla(0, 0%, 100%, 0.1);
  --theme-setting-active: hsla(0, 0%, 100%, 0.15);
  --player-bg: rgba(0, 0, 0, 0.2);
  --progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
  --progressbar-active-bg: #fff;
  --select-bg: hsla(0, 0%, 100%, 0.15);
  --text-primary: #fff;
  --text-secondary: hsla(0, 0%, 100%, 0.5);
  --purple-primary: #7200a1;
  --link-text-hover: #c662ef;
  --text-item-hover: #fff;
  --player-text: #fff;
  --search-text: #eee;
  //   --text-placeholder: #757575;
  --setting-icon-text: #d8d8d8;
  //   --navigation-text: #a0a0a0;
  --sidebar-title: hsla(0, 0%, 100%, 0.7);
  --song-item-action: hsla(0, 0%, 100%, 0.5);
  --border-primary: hsla(0, 0%, 100%, 0.1);
  --border-secondary: hsla(0, 0%, 100%, 0.05);
  --border-box: hsla(0, 0%, 100%, 0.2);
  --spotlight-item: #130223;
  --queue-border: transparent;
  --border-player: hsla(0, 0%, 100%, 0.1);
  --main-box-shadow: rgba(66, 66, 66, 0.4);
  --new-release-box-shadow: none;
  //   --sticky-header-box-shadow: rgba(0, 0, 0, 0.2);
  --notify-box-shadow: rgba(0, 0, 0, 0.6);
  //   --portal-menu-box-shadow: rgba(0, 0, 0, 0.7);
  --main-text-stroke: #fff;
  --chart-bg-img-alpha: rgba(30, 30, 30, 0.9);
  --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05);
  --chart-logo-color: #fff;
  --chart-icon-play-color: var(--purple-primary);
  --text-placeholder: #dadada;
  --navigation-text: #dadada;
  --sticky-header-box-shadow: rgba(0, 0, 0, 0.1);
  --portal-menu-box-shadow: rgba(0, 0, 0, 0.2);
}

[data-theme="blue-light"] {
  --primary-bg: #282828;
  --layout-bg: #1e1e1e;
  --sidebar-bg: hsla(0, 0%, 100%, 0.05);
  --sidebar-popup-bg: #292929;
  --alpha-bg: hsla(0, 0%, 100%, 0.1);
  --contrast-bg: rgba(254, 255, 255, 0.4);
  --contrast-bg-1: #feffff;
  --contrast-color: rgba(20, 20, 20, 0.8);
  --banner-home-dot: #d8d8d8;
  --loading-bg: hsla(0, 0%, 100%, 0.1);
  --loading-bg-animation: hsla(0, 0%, 100%, 0.1);
  --scroll-thumb-bg: hsla(0, 0%, 100%, 0.3);
  --no-content-bg: hsla(0, 0%, 100%, 0.1);
  --box-item-bg: hsla(0, 0%, 100%, 0.1);
  --box-hot-item-bg: rgba(254, 255, 255, 0.05);
  --box-hot-item-bg-hover: rgba(254, 255, 255, 0.1);
  --alpha-layout-bg: rgba(12, 3, 3, 0.8);
  --artist-layout-bg: var(--alpha-layout-bg);
  --tab-active-bg: hsla(0, 0%, 100%, 0.3);
  --queue-player-popup-bg: #2d2f32;
  --kara-lyrics-bg: #1e1e1e;
  --kara-btn-bg: hsla(0, 0%, 100%, 0.1);
  --theme-setting-active: hsla(0, 0%, 100%, 0.15);
  --player-bg: rgba(0, 0, 0, 0.2);
  --progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
  --progressbar-active-bg: #fff;
  --select-bg: hsla(0, 0%, 100%, 0.15);
  --text-primary: #fff;
  --text-secondary: hsla(0, 0%, 100%, 0.5);
  --purple-primary: #7200a1;
  --link-text-hover: #c662ef;
  --text-item-hover: #fff;
  --player-text: #fff;
  --search-text: #eee;
  --text-placeholder: #757575;
  --setting-icon-text: #d8d8d8;
  --navigation-text: #a0a0a0;
  --sidebar-title: hsla(0, 0%, 100%, 0.7);
  --song-item-action: hsla(0, 0%, 100%, 0.5);
  --border-primary: hsla(0, 0%, 100%, 0.1);
  --border-secondary: hsla(0, 0%, 100%, 0.05);
  --border-box: hsla(0, 0%, 100%, 0.2);
  --spotlight-item: #130223;
  --queue-border: transparent;
  --border-player: hsla(0, 0%, 100%, 0.1);
  --main-box-shadow: rgba(66, 66, 66, 0.4);
  --new-release-box-shadow: none;
  --sticky-header-box-shadow: rgba(0, 0, 0, 0.2);
  --notify-box-shadow: rgba(0, 0, 0, 0.6);
  --portal-menu-box-shadow: rgba(0, 0, 0, 0.7);
  --main-text-stroke: #fff;
  --chart-bg-img-alpha: rgba(30, 30, 30, 0.9);
  --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05);
  --chart-logo-color: #fff;
  --chart-icon-play-color: var(--purple-primary);
}
[data-theme="pink-light"] {
  --primary-bg: #fff8f8;
  --layout-bg: #f9dbdb;
  --sidebar-bg: hsla(0, 0%, 100%, 0.3);
  --sidebar-popup-bg: #fbd3d2;
  --queue-player-popup-bg: #f9dbdb;
  --blur-queue-bg: rgba(249, 219, 219, 0.9019607843137255);
  --player-bg: #f9c6c5;
  --artist-layout-bg: rgba(249, 219, 219, 0.8);
  --purple-primary: #ea7aa0;
  --text-item-hover: #ea7aa0;
  --link-text-hover: #ea7aa0;
  --chart-bg-img-alpha: rgb(249 219 219/0.9);
}
[data-theme="gray"] {
  --primary-bg: #fffffe;
  --layout-bg: #e5e3df;
  --queue-player-popup-bg: #e5e3df;
  --blur-queue-bg: rgba(229, 227, 223, 0.9019607843137255);
  --player-bg: #d0ccc5;
  --artist-layout-bg: rgba(229, 227, 223, 0.8);
  --purple-primary: #8c8471;
  --text-item-hover: #8c8471;
  --link-text-hover: #8c8471;
  --chart-bg-img-alpha: rgb(229 227 223/90%);
}

[data-theme="green-light"] {
  --primary-bg: #e1e8e8;
  --layout-bg: #ced9d9;
  --sidebar-bg: hsla(0, 0%, 100%, 0.3);
  --sidebar-popup-bg: #cce0e0;
  --alpha-bg: hsla(0, 0%, 100%, 0.3);
  --queue-player-popup-bg: #ced9d9;
  --blur-queue-bg: rgba(206, 217, 217, 0.9019607843137255);
  --player-bg: #b4d0d0;
  --artist-layout-bg: rgba(206, 217, 217, 0.8);
  --purple-primary: #239292;
  --text-item-hover: #239292;
  --link-text-hover: #239292;
  --chart-bg-img-alpha: rgb(206 217 217/0.9);
}
[data-theme="blue"] {
  --primary-bg: #192f60;
  --layout-bg: #101f3f;
  --sidebar-popup-bg: #1d2a49;
  --alpha-layout-bg: rgba(16, 31, 63, 0.8);
  --queue-player-popup-bg: #223c75;
  --blur-queue-bg: rgba(16, 31, 63, 0.9019607843137255);
  --chart-bg-img-alpha: rgba(16, 31, 63, 0.9);
  --linear-gradient-bg: linear-gradient(180deg, #1b2f5a, #182e5d);
}
//theme
.theme-dynamic-zma {
  --layout-bg: #37075d;
  --primary-bg: #4b1178;
  --queue-player-popup-bg: #5d218c;
  --purple-primary: #ed2b91;
  --box-hot-item-bg: rgba(254, 255, 255, 0.1);
  --box-hot-item-bg-hover: rgba(254, 255, 255, 0.2);
  --link-text-hover: #fe63da;
  --sidebar-popup-bg: #572f90;
  --linear-gradient-bg: linear-gradient(to bottom, #740091, #2d1a4c);
}

.theme-dynamic-xone {
  //--miniplayer-bg-img: url(https\:\/\/zmp3-static\.zmdcdn\.me\/skins\/zmp3-v6\.1\/images\/theme\/xone-miniplayer\.jpg);
  --purple-primary: #d7cb1f;
  --progressbar-active-bg: #d7cb1f;
  --link-text-hover: #d7cb1f;
  //--header-bg-img: url(https\:\/\/zmp3-static\.zmdcdn\.me\/skins\/zmp3-v6\.1\/images\/theme\/xone-header\.jpg);
}

.theme-dynamic-jack {
  --layout-bg: #43413d;
  --player-bg: #4c473e;
  --primary-bg: #565147;
  --queue-player-popup-bg: #726c5e;
  --purple-primary: #a56812;
  --link-text-hover: #d68800;
  --main-box-shadow: #4242421a;
  --linear-gradient-bg: linear-gradient(to bottom, #656156, #574f40);
}

.theme-dynamic-iu {
  --layout-bg: #e6e1de;
  --player-bg: #f5e6e0;
  --purple-primary: #c24793;
  --link-text-hover: #ac3e82;
  --box-hot-item-bg: rgba(254, 255, 255, 0.3);
  --box-hot-item-bg-hover: rgba(254, 255, 255, 0.4);
  --text-item-hover: #409abc;
}

.theme-dynamic-jichangwook {
  --purple-primary: #1966b2;
  --link-text-hover: #1f5a93;
  --layout-bg: #b3d8db;
  --player-bg: #a3cfdc;
}

.theme-dynamic-lisa {
  --layout-bg: #f1ddd8;
  --player-bg: #f4cbca;
  --box-hot-item-bg: rgba(254, 255, 255, 0.3);
  --purple-primary: #cc3373;
  --link-text-hover: #af3164;
  --box-hot-item-bg-hover: rgba(254, 255, 255, 0.4);
}

.theme-dynamic-jennie {
  --layout-bg: #bbb9c4;
  --player-bg: #c6c4d1;
  --purple-primary: #8919ae;
  --link-text-hover: #6f1f89;
  --primary-bg: #e2e7f5;
  --text-item-hover: #2a5e6b;
}

.theme-dynamic-jisoo {
  --purple-primary: #9b22c3;
  --link-text-hover: #9b22c3;
}

.theme-dynamic-rose {
  --layout-bg: #061c4f;
  --player-bg: #061641;
  --purple-primary: #3560f5;
  --link-text-hover: #4c7cff;
}
[class*=" ic-"]:before,
[class^="ic-"]:before,
[data-icon]:before {
  font-family: "mp3-zing" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-feature-settings: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//
* {
  -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div,
p {
  word-break: break-word;
}
html {
  font-size: 100%;
  @include tablet {
    font-size: 80%;
  }

  @include mobile {
    font-size: 60%;
  }
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--layout-bg);
  color: var(--text-primary);

  @include mobile {
    margin-bottom: 3rem;
  }
}
button {
  cursor: pointer;
  font-family: $font-family;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  word-break: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
input {
  outline: 0;
}
ul {
  list-style-type: none;
}
img,
video {
  height: auto;
  width: 100%;
}
iframe {
  border: 0;
}
figure {
  background-color: var(--loading-bg);
}
body ::-webkit-scrollbar {
  width: 4px;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
  box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}
body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset #fff;
  box-shadow: inset #fff;
  border-radius: 4px;
}
.section-playing ::-webkit-scrollbar-thumb {
  background-color: transparent!important;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0;
}
.section-mix  ::-webkit-scrollbar-thumb {
  background-color: transparent!important;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0;
}
.section-mix 
h1.title,
h3.title {
  font-size: 18px;
  color: var(--text-primary);
}
h3{
  font-size: 100%;
  font-weight: 400;
}
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.main-layout {
  display: flex;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: var(--layout-bg);
}

.level {
  @include flex(center, space-between);
  .level-left {
    @include flex(center, flex-start);
  }
  .level-right {
    @include flex(center, flex-end);
  }
  .level-item:not(.is-narrow) {
    flex-grow: 1;
  }
  .level-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0;
}
}
.level-item{
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}

.level-left,
.level-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.icon {
  line-height: 66%;
  display: inline-block;
}

//padding
.pd-7 {
  padding: 7px;
}

.columns {
  display: flex;
  box-lines: multiple;
  flex-wrap: wrap;
  position: relative;

}
.main-page {
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  position: relative;
  width: calc(100% - 570px);
  min-height: 100%;
  .wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .page-section {
      position: absolute;
      inset: 0px;
      overflow: hidden scroll;
      margin-right: -6px;
      margin-bottom: 0px;
    }
    main.page-section {
      padding: 0 59px;
      margin: 0 auto;
      @include tablet {
        padding: 0 29px;
      }
    }
    main.page-section > .container {
      min-height: calc(100% - 158px);
      margin-top: 70px;
    }
  }
}

.swiper-button-prev {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 55px !important;
  height: 55px !important;
  color: var(--white) !important;
  border-radius: 50% !important;

  top: 50% !important;
  left: 25px !important;
  background-color: hsla(0, 0%, 100%, 0.15) !important;
  box-shadow: 0 2px 4px 0 rgb(226 102 102 / 15%) !important;
  @include mobile {
    display: none !important;
  }
  opacity: 0;
  &:hover {
    opacity: 1;
  }
  &::after {
    font-size: 17px !important;
  }
}
.swiper-button-next {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 55px !important;
  height: 55px !important;
  color: var(--white) !important;
  border-radius: 50% !important;
  //transform: translateY(calc(-50% - 25px));
  top: 50% !important;
  right: 25px !important;
  background-color: hsla(0, 0%, 100%, 0.15) !important;
  box-shadow: 0 2px 4px 0 rgb(226 102 102 / 15%) !important;
  @include mobile {
    display: none !important;
  }
  opacity: 0;
  &:hover {
    opacity: 1;
  }
  &::after {
    font-size: 17px !important;
  }
}

.media-left,
.media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

///size
///
.is-60 {
  width: 60px;
  height: 60px;
}

.mt-10{
  margin-top: 10px;
}

//end size

.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-alpha-50);
  visibility: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.is-hidden-display{
  display: none !important;
}
.title {
  font-weight: 700;
  text-transform: capitalize;
  display: block;
  color: var(--text-primary);
}

.subtitle {
  color: var(--text-secondary);
}

.icon {
  line-height: 66%;
  display: inline-block;
}