@use "./index.scss" as *;

.chart-page {
  padding-top: 20px;
  &__header {
    position: relative;
    margin-bottom: 40px;
    .chart-title {
      margin-top: 0;
      display: flex;
      align-items: center;
      .title {
        font-size: 40px;
        font-weight: 800;
        line-height: normal;
        letter-spacing: normal;
        color: var(--text-item-hover);
        margin: 0;
        text-transform: none;
        @include mobile {
          font-size: 25px;
        }
      }
    }
    .btn {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      background-color: var(--purple-primary);
      margin-left: 5px;
      .icon {
        font-size: 16px;
        color: var(--white);
      }
      @include mobile{
        width: 30px;
        height: 30px;
      }
    }
  }
  .chart-line {
    .chart-container {
      position: relative;
      margin-bottom: 10px;
    }
  }
  .play-list-chart {
    margin-bottom: 20px !important;
    .chart-item {
      overflow: hidden;
      border-radius: 4px;
      &:hover {
        .list-item-chart {
          background-color: var(--alpha-bg);
        }
        .media > .media-right > .hover-items {
          display: block;
        }
        .media > .media-right > .action-items {
          display: none;
        }
      }
      .list-item-chart {
        border-bottom: 1px solid var(--border-secondary);
        background-color: transparent;
        .media {
          border-radius: 4px;
          background-color: transparent;
          .media-left {
            display: flex;
            width: 50%;
            .number {
              min-width: 38px;
              -webkit-text-stroke: 1.5px var(--text-primary);
              opacity: 0.7;
              font-size: 32px;
              font-weight: 900;
              line-height: 1;
              text-align: center;
              color: rgba(74, 144, 226, 0);
              font-family: "Roboto", sans-serif;
              white-space: nowrap;
              width: 60px;
            }
          }
        }
        &.active{
          background-color: var(--alpha-bg);
          .opacity{
            visibility: visible;
          }
          .action{
            visibility: visible;
          }
        }
      }
    }
  }
  .show-all{
    border-radius: 999px;
    border: 1px solid var(--text-item-hover);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: center;
    color: var(--text-item-hover);
    background-color: transparent;
    padding: 8px 25px;
    &:hover{
      background-color: var(--alpha-bg);
    }
  }
}
